/* ==========================
   General Styles
========================== */
body {
  font-family: 'DM Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #b2b3a0;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

h1, h2, h3 {
  font-family: 'Lora', serif;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #333;
}

p {
  font-family: 'Lora', serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #000;
}

/* ==========================
   Header & Navigation Styles
========================== */

header {
  background-color: #8d8f74;
  padding: 0.5rem;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 7rem;
  padding-left: 7rem;
}

nav ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 15px;
}

nav ul li a {
  font-family: 'Lora', serif;
  max-width: 100%;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #333;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;
  transform: translateY(-5px);
}

/* =============================
   Logo Styles
   ============================= */

.logoHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoHeader img{
  text-align: center;
  width: 100%;
  height: 100%;
  max-width: 70px;
}

.logoHeader p {
  font-size: 3rem;
  color: #000;
  margin: 0;
  font-family: 'OldLondon', sans-serif;
}

.logoHeader a {
  text-decoration: none;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header-logo {
  max-width: 100px;
  height: auto;
}

/* =============================
   Main Content Styles
   ============================= */

main {
  text-align: center;
  padding: 2rem 2rem;
  background-color: #b2b3a0;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3;
  transform: translateY(-5px);
}

/* =============================
   Image Styles
   ============================= */

.imagesGame {
  width: 100%;
  position: relative;
}

.imagesGame img {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.promoVideo {
  width: 100%;
  max-width: 1080px;
  margin: 20px auto;
}

.promoVideo iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; /* para el responsive */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Opcional: sombra para resaltar */
}

.promotional {
  text-align: center;
  padding: 0;
  margin: 0;
}

.promotional img {
  width: 100%;
  max-width: 1080px;
  height: auto;
}

.promotional-logo {
  max-width: 150px;
  height: auto;
}

.logo {
  text-align: center;
  padding: 1rem 0;
}

.logo img {
  max-width: 150px;
  height: auto;
}

/* =============================
   Audio Player Styles
   ============================= */

.audio-player {
  max-width: 400px;
  margin: 20px auto;
  padding: 15px;
  background-color: #5e6151;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
}

.audio-player h3 {
  margin: 5px 0 10px 0;
  font-size: 1.4rem;
  color: #fff;
}

.controls button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  background-color: #31322e;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.controls button:hover {
  background-color: #111210;
}

/* =============================
   Footer Styles
   ============================= */

footer {
  background-color: #000;
  padding: 1rem;
  text-align: center;
}

.social-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #007bff;
}

/* =============================
   Company Description Styles
   ============================= */
.company-description {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.company-description h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1.5rem;
  text-align: center;
}

.company-description p {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.company-description strong {
  color: #000;
}

/* =============================
   Team Container Styles
   ============================= */
.team-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.team-member {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.team-member img {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 20%;
  margin-bottom: 10px;
}

.team-member h3 {
  margin: 10px 0;
  font-size: 1.4rem;
  color: #333;
}

.team-member p {
  font-size: 1rem;
  color: #555;
}

/* =============================
   Responsive Styles
   ============================= */

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 50px;
  }

  nav ul li {
    max-width: 100%;
    text-align: center;
  }

  nav ul li a {
    display: block;
    width: 100%;
    padding: 10px;
  }

  .imagesGame img,
  .promotional img {
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .team-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .team-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* =============================
   Fonts
   ============================= */

@font-face {
  font-family: 'OldLondon';
  src: url('../fonts/OldLondon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

